[SddmGreeterTheme]
Name=sddm-wired-theme
Description=Inspired by fauux.neocities.org/login, created by Faisal
Author=Faisal
License=GPLv3
Type=sddm-theme
Version=0.2
MainScript=Main.qml
QtVersion=6
